.flightinfo_panel{ width:169px; height:100%; background-color:#E0F8F7; border:1px solid #B3DCF6; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:3px;}
.flightinfo_panel b{ color:#F60; line-height:20px;}
#ba_flight_offer_block_submit_button{ background-color:#5B934C; border:1px solid #0C4B30; color:#fff; line-height:20px; cursor:pointer; margin:5px 0 5px 70px;;}
